<% @causes.each do |cause| %>
	<div class="jumbotron">
		<p id="cause-<%= cause.id %>">Test Cause: <%= cause.name %> ID: <%= cause.id %></p>
		<%= link_to "Hit", '#', remote: true, class: 'btn btn-large btn-primary', path: add_hit_cause_path(cause)%>
	</div>
<% end %>

<script>
	$(function () {
	    $("a[data-remote]").on('click', function () {
	    	$.ajax({
	            url: $(this).attr("path"),
	            type:"get",
            	dataType:"json",
	            success: function(data) {
	            	alert("Good! " + data + " hits")
	            }
	        });

	    });
	});
</script>
