// Place all the styles related to the cause controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
	margin-top: 0;
	margin-bottom: 0;
}

.cause-stats {
	font-size: 16px;
}

.causeimage {
	padding-left: 50px;
	padding-right: 50px;
}
