// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.causeimage {
	padding-left: 50px;
	padding-right: 50px;
}

.userpage{
	font-weight: normal;
	color: #006600;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 50px;
}

.namies{
		font-family: Arial, Helvetica, sans-serif;
		color: #009900;
		font-size: 50px;
}

